@model WebApp.ViewModels.CreateEventViewModel

<div class="row">
    <div class="col-md-6">
        <div><a asp-area="" asp-controller="SuperAdmin" asp-action="Events">Check Events</a></div>
        @*<div><a asp-area="" asp-controller="SuperAdmin" asp-action="Students">Check Students</a></div>*@
    @*<div><a asp-area="" asp-controller="SuperAdmin" asp-action="Rso">Check Rsos</a></div>
    <div><a asp-area="" asp-controller="SuperAdmin" asp-action="Universities">Check Universities</a></div>*@
    </div>
</div>
