@model WebApp.ViewModels.CreateRsoViewModel
@{
    ViewData["Title"] = "Create RSO";
}

<br />
<div class="container">

    @{
        if (ViewData["Status"] != null)
        {
            if (!ViewData["Status"].ToString().Contains("Failed"))
            {
                <div class="alert alert-primary">
                    <strong>@ViewData["Status"]</strong>
                </div>
            }
            else
            {
                <div class="alert alert-danger">
                    <strong>@ViewData["Status"]</strong>
                </div>
            }

        }
    }

    <div class="col-md-offset-2 col-md-8 col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2">
        <div class="panel" style="border: 1px solid lightgray;">
            <div class="panel-body">
                <form class="form-horizontal row" asp-controller="Create" asp-action="MakeRso" method="post">
                    <h1 style="color:darkblue">Create RSO</h1>
                    <div class="form-group">
                        <label class="control-label col-md-3">Organization Name:</label>
                        <input type="text" class="form-control col-md-6" name="Name" />
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">Admin Email:</label>
                        <input type="text" class="form-control col-md-6" name="AdminEmail" />
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">Number of Members:</label>
                        <input type="number" min="5" class="form-control col-md-6" name="NumMemb"/>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3">Members:</label>
                        <input type="text" class="form-control col-md-6" name="MemberEmails" />
                        <span class="col-md-12"><label>Seperate Member Emails with a semicolon (;)</label></span>
                    </div>
                    
                    <div class="form-group row">
                        <label class="control-label col-md-3">Description:</label>
                        <input type="text" class="form-control col-md-6" name="Description" />
                    </div>
                    <button type="submit" class="btn btn-info" style="background-color:darkblue">Create</button>
                </form>
            </div>
        </div>

    </div>
</div>
