@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    Group 9<br />
    <ul>
        <li>Shanan Dalton</li>
        <li>Eric Downey</li>
        <li>Peter Nguyen</li>
        <li>Peter Tran</li>
        <li>Yendy Villalobos</li>
    </ul>
    COP 4710 - Database Systems<br />
    @*<abbr title="Phone">P:</abbr>*@

</p>


<address>
    <strong>Support:</strong> <a href="mailto:support@knights.ucf.edu">Support@knights.ucf.edu</a><br />
</address>
